/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #f3f3f3;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
table, th, td {
  border-collapse: collapse;
  border: 1px solid #000;
  max-width: calc(800px - (30px * 2));
  padding: 5px; }

.site-stage {
  display: block;
  background: #fff;
  color: #333;
  border: 1px solid #d9d9d9;
  border-top: none;
  text-align: center;
  padding: .5em 0; }

.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 24px;
  position: relative; }

.site-title {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: #f3f3f3;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

.display {
  opacity: 1 !important;
  height: auto !important;
  z-index: 10000000 !important;
  transition-timing-function: ease-in; }

.hero {
  padding: 60px 60px 1px 60px;
  margin: 0 auto;
  background-color: #fff;
  border-top: 3px solid #d9d9d9;
  border-right: 3px solid #d9d9d9;
  border-bottom: none;
  border-left: 3px solid #d9d9d9; }

.contract-overview {
  display: none; }

.checklist {
  margin: 0 auto;
  background-color: #fff;
  border-top: 3px solid #fff;
  border-right: 3px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
  border-left: 3px solid #d9d9d9; }

.nav {
  border: solid 1px #dedede;
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  z-index: 100;
  bottom: 40%;
  left: 0;
  clear: both; }

.nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  clear: both;
  position: relative;
  border-bottom: solid 1px #dedede; }

.nav li .icon, .nav li .icon:hover {
  font-size: 24px;
  line-height: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: middle; }

.nav li .up {
  background-image: url(../img/chevron-up.svg); }

.nav li .print {
  background-image: url(../img/print.svg); }

.nav li .reset {
  background-image: url(../img/clockwise.svg); }

.nav li .export {
  background-image: url(../img/file-export.png); }

.nav li .github {
  background-image: url(../img/github.png); }

.label, .nav li a, .nav li input {
  transition: background-color 0.08s ease-in-out; }

.nav li input {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 0;
  border: 0; }

.nav li a, .nav li input {
  background: #fff;
  display: block;
  width: 60px;
  padding: 30px 0;
  text-decoration: none;
  color: #3e3e3e;
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer; }

.nav li span {
  display: none; }

#reset-message {
  background: #5cb9e2;
  color: #fff; }

.notification {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  z-index: -1;
  font-size: 1.25em;
  opacity: 0;
  height: 0;
  overflow: hidden;
  text-align: center; }

.notification .wrapper {
  padding: 25px 30px;
  background: none;
  width: auto; }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Task content
 */
.task-content h3 {
  margin: 20px 0 5px 0; }

/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0 0 20px 0; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.full-content h3 {
  margin: 20px 0 5px 0; }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 2em;
    margin-top: 0px;
    padding: 25px 0 10px 0;
    position: relative;
    text-align: center; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h2:before {
    content: "";
    display: block;
    border-top: solid 1px #dedede;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin: 0 auto; }
  .post-content h2 span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5; }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }
  .post-content h5 {
    color: #828282;
    margin-bottom: 0px; }

.check-list, .check-item {
  margin: 0;
  padding: 0;
  list-style: none; }

.check-item, .tags li, .visible {
  opacity: 1;
  height: auto;
  overflow: hidden;
  transition-timing-function: ease-in; }

.check-item {
  display: block;
  position: relative;
  overflow: hidden; }

.check-list, .check-item {
  margin: 0;
  padding: 0;
  list-style: none; }

input[type=checkbox].checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.checkbox {
  position: absolute;
  left: 50px;
  top: 50%; }

input[type=checkbox].checkbox + label.label {
  background-image: url(../img/checkbox-empty.svg);
  background-repeat: no-repeat;
  background-position: 40px 50%;
  vertical-align: middle;
  cursor: pointer; }

input[type=checkbox].checkbox:checked + label.label {
  color: #fff;
  background-color: #5cb9e2;
  background-image: url(../img/checkbox-checked.svg);
  background-position: 40px 47%; }

.label, .nav li a, .nav li input {
  transition: background-color 0.08s ease-in-out; }

.label {
  width: 100%;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 30px 80px 30px 105px;
  -moz-max-width: 540px;
  font-size: 24px;
  line-height: 31px; }

.more {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.08s ease-in-out; }

.more {
  font-size: 14px;
  line-height: 20px;
  display: block; }

.show {
  opacity: 1 !important;
  height: auto !important;
  margin-top: 10px;
  margin-right: 20px;
  transition-timing-function: ease-in; }

.show-task {
  display: none; }

.hide-task {
  display: none; }

.toggle {
  transition: background-color 0.15s ease-in-out; }

.toggle {
  display: block;
  padding: 0 22px;
  position: absolute;
  right: 0;
  z-index: 100;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  background-color: #f1f0ed;
  background: #f1f0ed url(../img/chevron-down.svg) no-repeat center;
  background-size: 22px 13px;
  border: none;
  outline: none;
  box-shadow: none;
  opacity: 0.5; }

.tags {
  margin: 5px 0 0 -4px;
  padding: 0;
  list-style: none;
  position: relative;
  opacity: 0.55; }

.tags li {
  transition: all 0.1s ease-in-out; }

.tags li {
  font-size: 13px;
  line-height: 19px;
  display: inline;
  padding: 5px;
  white-space: nowrap; }

.tags a {
  color: #c21; }

.toggle span {
  display: none;
  margin-right: -9999px; }

.check-item input[type=checkbox].checkbox:checked + label.label .read-less {
  background-image: url(../img/chevron-up-white.svg) !important; }

.check-item input[type=checkbox].checkbox:checked + label.label .toggle {
  background-color: #4f9cbe;
  background: rgba(62, 62, 62, 0.53) url(../img/chevron-down-white.svg) no-repeat center;
  background-size: 22px 13px;
  opacity: 0.75; }

.check-item:nth-child(even) {
  background: #f8f7f6; }

.check-item:hover {
  background: #f4f8fb; }

.read-less {
  background-image: url(../img/chevron-up.svg) !important;
  background-size: 22px 13px; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

@media print {
  .site-header {
    border-top: 0px;
    border-bottom: 0px;
    min-height: 0px;
    position: relative; }

  .site-stage {
    display: none; }

  .hero {
    display: none; }

  div.messages {
    display: none; }

  .nav {
    display: none; }

  .contract-overview {
    display: block; }

  .checklist {
    margin: 0 auto;
    background-color: #fff;
    border-top: 0px solid #fff;
    border-right: 0px solid #d9d9d9;
    border-bottom: 0px solid #d9d9d9;
    border-left: 0px solid #d9d9d9; }

  .site-footer {
    display: none; }

  .check-item input {
    display: none; }

  .check-item label {
    display: none; }

  .post-content h1 {
    font-size: 36px; }
  .post-content h2 {
    font-size: 28px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    text-align: left; }
  .post-content h2:before {
    content: "";
    display: block;
    border-top: none;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin: 0 auto; }
  .post-content h2 span {
    background: none;
    padding: 0 0 0 0;
    position: relative;
    z-index: 1; }
  .post-content .full-content h2 {
    font-size: 24px;
    margin: 10px 0px 5px 0px; }
  .post-content .full-content h3 {
    font-size: 18px;
    margin: 20px 0 10px 0; }
  .post-content .show-task {
    display: block; }
  .post-content .hide-task {
    display: none; } }
