---
layout: default
---

<div id="wrapper" class="hero">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p>This is a list comprised of tasks you can use to build your next digital services contract. These tasks embrace the governance outlined in the <a href="https://playbook.cio.gov/" target="_blank">U.S. Digital Services Playbook</a>.</p>

    <p>
    Each task is made up of three parts:<br />
    <ol>
      <li>A chunk of work you want the prospective contractor to do.</li>
      <li>Scenario(s) that you can gauge the proficiency of the prospective contractors.</li>
      <li>Performance metrics or SLAs that you can measure the success of how well the contractor can perform the task.</li>
    </ol>
    </p>

    <p>Go through the list below and check the tasks you need. When your finished you can print/save your customized contract language as a baseline for your contract.</p>
    <p>If you'd like to contribute to the Digital Service Contract Cookbook, please go to our <a href="https://github.com/nmudd-cms/digital-service-contract-cookbook/tree/gh-pages">Github project</a>.</p>
    <p><strong>DISCLAIMER:</strong> This project is a proof-of-concept and is <u>NOT</u> tied to a specific statement-of-work, but serves as a baseline for writing new digital service contracts.</p>
  </header>
</div>

<div class="checklist">
  <article class="post-content">
    {{ content }}
  </article>
</div>

<ul class="nav">
    <li title="Back to top"><a href="#wrapper" class="icon up"><span>Top</span></a></li>
    <li title="Print"><a href="javascript:window.print()" class="icon print"><span>Print</span></a></li>
    <!--<li title="Export"><a href="#" class="icon export"><span>Export</span></a></li>-->
    <li title="Reset"><input type="reset" value="" class="icon reset"><span>Reset</span></li>
    <li title="View Github project"><a href="#" class="icon github"><span>Github</span></a></li>
</ul>
