---
layout: default
---

<div id="wrapper" class="hero">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p>This is a list comprised of tasks you can use to build your next digital services contract. These tasks embrace the governance outlined in the <a href="https://playbook.cio.gov/" target="_blank">U.S. Digital Services Playbook</a>.</p>

    <p>
    Each task is made up of three parts:<br />
    <ol>
      <li>A chunk of work you want the prospective contractor to do.</li>
      <li>Scenario(s) that you can gauge the proficiency of the prospective contractors during your selection process.</li>
      <li>Performance metrics or SLAs that you can measure the success of how well the contractor can perform the task after an award.</li>
    </ol>
    </p>

    <p><strong>To get started</strong>, go through the list below and check the tasks you need or select from one of the below "recipes". When your finished you can print/save your customized contract language as a baseline for your contract.</p>
    <!--<p><strong>DISCLAIMER:</strong> This project is a proof-of-concept and is <u>NOT</u> tied to a specific statement-of-work, but serves as a baseline for writing new digital service contracts.</p>-->
    <nav>
      <ul class="toc">
          <h2 class="recipes">Recipes</h2>
          <li class="active"><a href="#checklist" class="filter-item">All</a></li>
          <li><a href="#checklist" class="web-app-small">Web Application (Small)</a></li>
          <li><a href="#checklist" class="web-app-large">Web Application (Large)</a></li>
          <li><a href="#checklist" class="cloud">Cloud Hosting &amp; Support</a></li>
          <li><a href="#checklist" class="om">Operations &amp; Maintaince</a></li>
          <li><a href="#checklist" class="ivv">Independent Validation &amp; Verification</a></li>
      </ul>
  </nav>
  </header>
</div>

<div class="checklist">
  <article class="post-content">

    {{ content }}
  </article>
</div>

<ul class="nav">
    <li title="Back to top"><a href="#wrapper" class="icon up"><span>Top</span></a></li>
    <li title="Print"><a href="javascript:window.print()" class="icon print"><span>Print</span></a></li>
    <!--<li title="Export"><a href="#" class="icon export"><span>Export</span></a></li>-->
    <li title="Reset"><input type="reset" value="" class="icon reset"><span>Reset</span></li>
    <li title="View Github project"><a href="https://github.com/nmudd-cms/digital-service-contract-cookbook/tree/gh-pages" class="icon github"><span>Github</span></a></li>
</ul>
